.HeroImg {
  width: 100%;
}

article {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #f4d04e;
}
small {
  font-size: 14px;
  font-weight: 800;
  line-height: 150%; /* 21px */
}
.date {
  font-weight: 400;
}
h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}
p {
  color: #7f7f7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.author {
  display: flex;
  align-items: center;
  gap: 12px;
}
