body {
  margin: 0;
  padding: 0;
  background-color: #f4d04e;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  border-radius: 20px;
  border: 1px solid var(--Black, #111);
  background: var(--Pure-White, #fff);
  box-shadow: 8px 8px 0px 0px #000;
  display: flex;
  width: 384px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}
